// Variables
// Colors
$blue-gray-text: #75808c;
$blue-gray: #adb5bd;
$dark-blue-gray: #3d4042;
$blue-green: #008998;
// Breakpoints
$tiny: 320px;
$small: 376px;
$medium: 641px;
$medium-2: 769px;
$large: 901px;
$xlarge: 1201px;
$enormous: 1921px;